* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 17, 19);
    height: 100vh;    
}
.container {
	width: 550px;
	height: 450px;
}
.header {
	text-align: center;
	margin-bottom: 50px;
}
.header h2 {
    font-weight: 800;
    color: #fff;
    font-size: 40px;
}
.main-content {
	width: 100%;
	height: 300px;
	padding: 50px 40px;
	background-color: hsl(208, 18%, 12%);
	border-radius: 15px;
	box-shadow: 0 25px 31px 0 rgba(0,0,0,0.3);
}

.text-area {
	text-align: center;
	font-size: 25px;
	color: #fff;
	line-height: 1.5;
    
}
.text-area .icon {
    margin-right: 5px;
}

.main-content .writer {
    text-transform: uppercase;
	letter-spacing: 5px;
	color: rgb(0, 136, 255);
	text-align: center;
	margin-top: 20px;
	font-size: 25px;
	
}
.main-content .button-area {
	display: grid;
	place-items: center;
	margin-top: 20px;
	padding: 10px 0;
}
.button-area .btn button {
    background-color: hsl(25,97%,53%);
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 15px;
    
}
.button-area button:active {
    background-color: rgba(215, 97, 12, 0.879);
}