* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
}
body {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 17, 19);
  color: white;
  height: 100vh;

}

.dark {
  background-color: #fff;
  color: #222;
}

.container {

  width: 40rem;
  height: fit-content;
  margin-left: auto;
  margin-top: 1vh;
  margin-right: auto;

}
.container-bot {

  position: absolute;
  bottom: 0;
  left: 0;
  height: fit-content;
  margin-left: 20px;
  margin-bottom: 20px;

}
.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h2 {
  font-weight: 800;

  /* color: #fff; */
  font-size: 3rem;
  /* text-shadow: -4px 1px #1c2eb9; */

}

.main-content {
  width: 100%;

	height: auto;
	padding: 50px 40px;
	background-color: hsl(208, 18%, 12%);
	border-radius: 15px;
	box-shadow: 0 25px 31px 0 rgba(0,0,0,0.3);

}


@media screen and (max-width: 480px) {
  .main-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

.text-area {
  text-align: center;
  font-size: 25px;

  color: white;

  line-height: 1.5;
}

.text-area .icon {
  margin-right: 5px;
}

.main-content .writer {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgb(0, 136, 255);
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}

.button-container{
  display: flex;
  gap: 15px;
}

.main-content .button-area {
  display: grid;
  gap: 20px;
  place-items: center;
  margin-top: 20px;
  padding: 10px 0;
}

.button-area .btn button {

    background-color: #fb7413;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 15px;
    display: grid;
    place-items: center;
    margin-top: 20px;
    padding: 10px 0;
}

.button-area button:hover {
  background-color: hsla(25, 100%, 51%, 0.841);
}

.allBtn {
  background-color: hsl(25, 97%, 53%);
  color: #fff;
  border-radius: 5px;
  font-size: 16px;

  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 15px;
}

#mode {
  position: absolute;
  top: 30px;
  right: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid white;
  padding: 10px;
}

#modeIcon {
  font-size: 25px;
}

#modeText {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.button-area button:active {
  background-color: rgba(215, 97, 12, 0.879);
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    margin-top: 25vh;
    width: 70vw;
    align-self: center;
    justify-content: center;
  }

  .main-content {
    width: 100%;
    height: 40vh;
    padding: 50px 40px;
    background-color: hsl(208, 18%, 12%);
    border-radius: 15px;
    box-shadow: 0 25px 31px 0 rgba(0, 0, 0, 0.3);
  }

  .text-area {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    line-height: 1.5;
  }
  .text-area .icon {
    margin-right: 5px;
  }

  .main-content .writer {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: bold;
  }
  .main-content .button-area {
    display: grid;
    place-items: center;
    margin-top: 7%;
    padding: 28px 0;
  }
}

